//color
$color-1: #b61984;
$color-2: #181818;
$color-3: #dcd1f3;
$color-4: white;
//padding
$padding-1: 1.1em;
$padding-2: 1.6em;
$padding-3: 15px;
$padding-4: 20px;

//margin

//bd
$bd-0: 0;
$bd-1: 1px;
$bd-2: 100px;
$bd-3: 10px;
$bd-4: 40px;
